<label for="name">Name:</label>
<input type="text" id="name" [(ngModel)]="newName">
<label for="age">Age:</label>
<input type="number" id="age" [(ngModel)]="newAge">
<button (click)="onAdd()" >Add</button>

<ul class="messages" *ngIf="isAddClicked">
    <li [ngClass]="messageItem.isInvalid? 'error': 'success'" *ngFor="let messageItem of currentMessages">
        {{messageItem.message}}
    </li>
</ul>

<!-- let i=index;let isFirst=first; let isLast=last -->
<ul>
    <li *ngFor="let user of users;let i=index;let isFirst=first;">
        <span [ngClass]="isFirst? 'first-item': ''">{{user.name}}</span>
        <button [title]="user.name" (click)="onUserClick(i)">Show Details</button>
    </li>
</ul>

<!-- ngModel -->

<!-- [] -> passing data to element
output () -> getting info from element - events -->

<div *ngIf="selectedUser">
    <h2>Selected User</h2>
    <h3>Name: {{selectedUser.name}}</h3>
    <h4>Age: {{selectedUser.age}}</h4>
</div>

<div class="my-div">This is my div</div>
